body {
  background: linear-gradient(to right, #215661 45%, #6372ff 100%);
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  margin-top: 20%;
}
.github {
  position: absolute;
  transform: rotate(45deg);
  top: 50px;
  right: -70px;
  width: 6cm;
}
.header {
  font-family: cursive, sans-serif;
  margin-bottom: 60px;
  color: #fdd835;
}
.btn {
  background-color: #3949ab;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}
.rd {
  border-radius: 10px;
}
.btn:hover {
  background-color: #12206b;
}
.me {
  position: absolute;
  padding-bottom: 10px;
  bottom: 30px;
  left: 50%;
  right: 50%;
}

.forkme {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #12206b;
  overflow: hidden;
  position: fixed;
  z-index: 30;
  width: 240px;
  right: -60px;
  top: 46px;
  text-align: center;
  padding: 18px 15px;
  font-family: Arial, Helvetica, sans-serif;
}
.forkme a {
  color: #fdd835;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
}
@media only screen and (max-width: 580px) {
  .header {
    font-size: 18px;
  }
  .forkme {
    width: 240px;
    right: -90px;
    top: 46px;
    padding: 8px 30px;
  }
  .forkme a {
    font-size: 12px;
  }
}
